.padding-form fieldset{
    margin:5px 0;
}.ace-save-state{height: 100%;}
.box-rack{ 
float: left;margin: 5px; 
padding:2px;border-radius:5px; 
border:1px solid #d3d3d3;
}.box-rack h5{font: 0.9em Arial;}
.box-rack a{ float: left;
width: 65px; 
text-align: center;
border-radius:5px; border:1px solid #d3d3d3;
padding: 5px; 
display: block; }
.box-rack a:hover{ 
float: left;
width: 65px; 
color: #fff;background: #84d830;
border-radius:5px; border:1px solid #d3d3d3;
display: block;
text-decoration: none; }

.box-rackb { float: left;
float: left;margin: 5px; 
padding:2px;border-radius:5px; 
border:1px solid #d3d3d3;
background: #CFFFBF;
 }.box-rackb h5{font: 0.9em Arial;}
.box-rackb a{ float: left;
width: 65px; 
border-radius:5px; border:1px solid #d3d3d3;
color: #fff;text-align: center;
padding: 5px; background:  blue;
display: block; }
.box-rackb a:hover{ float: left;
width: 65px; 
background: magenta;
color: #fff;
border-radius:5px; border:1px solid #d3d3d3;
display: block;
text-decoration: none; }



.box-rackc a{ float: left;
width: 65px; margin: 5px; 
border-radius:5px; border:1px solid #d3d3d3;
padding: 10px; background: #FFFFBF;
display: block; }
.box-rackc a:hover{ float: left;
width: 65px; 
background: #FFFF4D;
color: #fff;
border-radius:5px; border:1px solid #d3d3d3;
display: block;
text-decoration: none; }

.box-rackd a{ float: left;
width: 65px; margin: 5px; 
border-radius:5px; border:1px solid #d3d3d3;
padding: 10px; background: #FFBFFF;
display: block; }
.box-rackd a:hover{ float: left;
width: 65px; 
background: #D900D9;
color: #fff;
border-radius:5px; border:1px solid #d3d3d3;
display: block;
text-decoration: none; }